<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DebugMode>false</DebugMode>
  <AutoMaskID>true</AutoMaskID>
  <AutoMtxPTN>true</AutoMtxPTN>
  <CheckVerTBL>false</CheckVerTBL>
  <Datalogger>false</Datalogger>
  <Errorlogger>false</Errorlogger>
  <Language>1</Language>
  <MaskID>0</MaskID>
  <MtxPTN>11</MtxPTN>
  <VerTBL>1</VerTBL>
  <ComPortName>/dev/ttyUSB0</ComPortName>
</Settings>